/* public/css/style.css */
body {
    background-color: #29CC74;
    font-family: 'Karla', sans-serif;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-card {
    background-color: #f4fdfc;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 700px;
}

.logo {
    width: 300px;
    margin-bottom: 0px;
}

h2 {
    font-size: 24px;
    color: #333;
}

h1, h2, h3 {
    font-family: 'Karla', sans-serif;
}

p {
    color: #555;
}

.input-group {
    margin-top: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
}

.register-button {
    width: 100%;
    background-color: #29CC74;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #28a745;
}

a {
    color: #29CC74;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
